@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h2 {
    @apply text-4xl my-2 mono;
  }
  .h3 {
    @apply text-2xl my-2 mono;
  }
  .h4 {
    @apply text-xl my-2 mono;
  }
  .h5 {
    @apply text-lg my-2 mono;
  }
  .h6 {
    @apply text-sm my-2 mono;
  }

  .li {
    @apply flex items-center justify-start mb-4 ml-6 lg:ml-0;
  }

  p {
    @apply mb-2;
  }

  .wrapper {
    @apply pb-12 pt-8 md:pb-0 md:pt-24 lg:pt-16 min-vh flex flex-col justify-center items-start lg:-mt-50vh;
  }

  .responsive-container {
    @apply mx-auto max-w-xl md:max-w-3xl xl:max-w-6xl 2xl:max-w-screen-xl;
  }

  .responsive-helper {
    @apply bg-blue-300 dark:bg-blue-900 
    sm:bg-green-400 sm:dark:bg-green-900 
    md:bg-yellow-300 md:dark:bg-yellow-900 
    lg:bg-red-400 lg:dark:bg-red-900 
    xl:bg-pink-400 xl:dark:bg-pink-900
    2xl:bg-indigo-200 2xl:dark:bg-indigo-900;
  }
}

@layer utilities {
  .gradient-text {
    color: rgb(130, 249, 161);
    background-color: black;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
  }
  .mono {
    font-variation-settings: "MONO" 1;
  }
  .min-vh {
    min-height: 100vh;
  }

  .-mt-50vh {
    margin-top: -25vh;
  }
}
